.team-section {
  background-color: #f4f4fd;
}

.team-section-list-item {
  background-color: #ffffff;
}

.team-section-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
}

.team-section-text {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
}
